<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>com.hello.servlet.AjaxServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.hello.servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>com.hello.servlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.hello.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserAjaxServlet</servlet-name>
    <servlet-class>com.hello.servlet.UserAjaxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CarServlet</servlet-name>
    <servlet-class>com.hello.servlet.CarServlet</servlet-class>
  </servlet>
  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.hello.servlet.AdminLoginServlet</servlet-class>
  </servlet>
 <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginExitServlet</servlet-name>
    <servlet-class>com.hello.servlet.LoginExitServlet</servlet-class>
  </servlet>



  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsTypeServlet</servlet-name>
    <servlet-class>com.hello.servlet.GoodsTypeServlet</servlet-class>
  </servlet>



  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>com.hello.servlet.AddressServlet</servlet-class>
  </servlet>



  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.hello.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AjaxServlet2</servlet-name>
    <servlet-class>com.hello.servlet.AjaxServlet2</servlet-class>
  </servlet>
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PictureServlet</servlet-name>
    <servlet-class>com.hello.servlet.PictureServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ParamServlet</servlet-name>
    <servlet-class>com.hello.servlet.ParamServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserAjaxServlet02</servlet-name>
    <servlet-class>com.hello.servlet.UserAjaxServlet02</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.hello.servlet.PayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SerachServlet</servlet-name>
    <servlet-class>com.hello.servlet.SerachServlet</servlet-class>
  </servlet>

  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>com.hello.filter.LoginFilter</filter-class>
  </filter>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EvaluateServlet</servlet-name>
    <servlet-class>com.hello.servlet.EvaluateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PingJiaServlet</servlet-name>
    <servlet-class>com.hello.servlet.PingJiaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PersonServlet</servlet-name>
    <servlet-class>com.hello.servlet.PersonServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteAddressServlet</servlet-name>
    <servlet-class>com.hello.servlet.DeleteAddressServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateAddressServlet</servlet-name>
    <servlet-class>com.hello.servlet.UpdateAddressServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RefreshServlet</servlet-name>
    <servlet-class>com.hello.servlet.RefreshServlet</servlet-class>
  </servlet>












	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/AjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SerachServlet</servlet-name>
    <url-pattern>/SerachServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/GoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAjaxServlet</servlet-name>
    <url-pattern>/UserAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginExitServlet</servlet-name>
    <url-pattern>/LoginExitServlet</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>CarServlet</servlet-name>
    <url-pattern>/CarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsTypeServlet</servlet-name>
    <url-pattern>/GoodsTypeServlet</url-pattern>

  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/AddressServlet</url-pattern>

  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>

  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxServlet2</servlet-name>
    <url-pattern>/AjaxServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PictureServlet</servlet-name>
    <url-pattern>/PictureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ParamServlet</servlet-name>
    <url-pattern>/ParamServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAjaxServlet02</servlet-name>
    <url-pattern>/UserAjaxServlet02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EvaluateServlet</servlet-name>
    <url-pattern>/EvaluateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PingJiaServlet</servlet-name>
    <url-pattern>/PingJiaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonServlet</servlet-name>
    <url-pattern>/PersonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAddressServlet</servlet-name>
    <url-pattern>/DeleteAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAddressServlet</servlet-name>
    <url-pattern>/UpdateAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RefreshServlet</servlet-name>
    <url-pattern>/RefreshServlet</url-pattern>
  </servlet-mapping>

  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
